

<ion-content>
  <div class="head">
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="accueil" color="light" routerLink="/tabs"></ion-back-button>&nbsp;
    </ion-buttons>
    <span> Notification</span>
  </div>
  <ion-list>
   <ion-list-header>
     <ion-label>
       <strong>Nouveau (5)</strong> 
     </ion-label>
   </ion-list-header>

   <ion-item *ngFor="let item of list">
    <ion-thumbnail slot="start" class="photo">
     <img src="../../../assets/images/afrique.jpg" alt="">
    </ion-thumbnail>

    <ion-label>
      {{item.envoyeur.nom}} {{item.envoyeur.prenom}}
      <p class="ion-text-wrap">
        <ion-text>
          {{item.contenu}}
        </ion-text>
        <ion-text class="time">
          {{item.date}}
        </ion-text>
      </p>
    </ion-label>

    <ion-button mode="ios" slot="end" color="primary" (click)="Initier(item.id, item)" *ngIf="item.initier===false">
      Inititier
    </ion-button>
    <ion-button mode="ios" slot="end" fill="clear" style="background-color: rgb(218, 218, 218); color:white;"  (click)="Initier(item.id, item)" *ngIf="item.initier===true" >
      Desinititier
    </ion-button>
  </ion-item>
    
  </ion-list>
</ion-content>