
<ion-content>
  <div class="head">
    <ion-buttons slot="start" >
        <ion-back-button defaultHref="accueil" style="color: #ffffff; margin-top: 5px;" routerLink="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-item line="none">
      <h5>Les tuteurs de math de </h5>
    </ion-item>
    
  </div>
  <div class="card" *ngFor="let item of Liste">
    <ion-card>
      <ion-card-header class="ion-no-padding">
        <img src="../../../assets/images/banner.png" />
      </ion-card-header>

      <ion-card-content>
        <h2 class="name ion-text-center">{{item.prenom}} {{item.nom}}</h2>
        <p class="location ion-text-center" ><ion-icon name="location"></ion-icon>{{item.quartier}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
