<ion-content>
    <div class="head">
        <!-- <ion-button fill="back">
            <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button> -->
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="accueil" color="light" routerLink="/acceuil"></ion-back-button>&nbsp;
        </ion-buttons>
        <span> Demandes initier</span>
    </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nom du demadeur</h2>
        <h3>Matiere</h3>
        <p>
          <ion-button color="danger">Decliner</ion-button>
          <ion-button color="primary">Decliner</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nom du demadeur</h2>
        <h3>Matiere</h3>
        <p>
          <ion-button color="danger">Decliner</ion-button>
          <ion-button color="primary">Decliner</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nom du demadeur</h2>
        <h3>Matiere</h3>
        <p>
          <ion-button color="danger">Decliner</ion-button>
          <ion-button color="primary">Decliner</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nom du demadeur</h2>
        <h3>Matiere</h3>
        <p>
          <ion-button color="danger">Decliner</ion-button>
          <ion-button color="primary">Decliner</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nom du demadeur</h2>
        <h3>Matiere</h3>
        <p>
          <ion-button color="danger">Decliner</ion-button>
          <ion-button color="primary">Decliner</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
