<ion-content>
  <div class="head">
    <ion-button fill="clear">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
    <span> Demandes initier</span>
  </div>

  <div class="list">
    <div class="item ion-text-center">
      <p>Nom demandeur</p>
      <div class="btn">
        <ion-button color="danger">Decliner</ion-button>
        <ion-button>Accepter</ion-button>
      </div>
    </div>

    <div class="item ion-text-center">
      <p>Nom demandeur</p>
      <div class="btn">
        <ion-button color="danger">Decliner</ion-button>
        <ion-button>Accepter</ion-button>
      </div>
    </div>

    <div class="item ion-text-center">
      <p>Nom demandeur</p>
      <div class="btn">
        <ion-button color="danger">Decliner</ion-button>
        <ion-button>Accepter</ion-button>
      </div>
    </div>

    <div class="item ion-text-center">
      <p>Nom demandeur</p>
      <div class="btn">
        <ion-button color="danger">Decliner</ion-button>
        <ion-button>Accepter</ion-button>
      </div>
    </div>

    <div class="item ion-text-center">
      <p>Nom demandeur</p>
      <div class="btn">
        <ion-button color="danger">Decliner</ion-button>
        <ion-button>Accepter</ion-button>
      </div>
    </div>
  </div>
</ion-content>
