ion-content {
    width: calc(100% + 15px);
    --background: #0f8eb4;
    .head {
        display: flex;
        align-items: center;
        margin-top: 20px;
        span {
            font-weight: 600;
            color: #fff;
            justify-content: center;
        }
    }
    p {
        ion-button {
            font-size: 10px;
            background-color: #B5B9BF;
            color: #fff;
            display: block;
            float: right;
        }
    }
    .vide {
        margin-top: 30px;
        color: rgb(241, 240, 240);
    }
}