
<ion-content>
  <div class="fixed" style="position: fixed; width: 100%; z-index: 1;">
    <div class="head">
      <ion-buttons slot="start" color="light">
          <ion-back-button defaultHref="accueil" color="light" routerLink="/tabs"></ion-back-button>&nbsp;
      </ion-buttons>
      <span> Ajout élève</span>
    </div>
    <div style="padding: 20px; background-color: #fff; margin-top: -30px; border-top-left-radius: 40px; border-top-right-radius: 40px;"></div>
  </div>
  <div style="margin-top: 100px;"></div>
  <div *ngFor="let item of Liste">
    <ion-card>
      <ion-item line="none">
        <ion-checkbox  slot="start"></ion-checkbox>
        <span style="font-weight: bold; color: #0F8EB4;">{{item.envoyeur.prenom}} {{item.envoyeur.nom}}</span>
      </ion-item>
    </ion-card>
  </div>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button style="color: #0F8EB4;">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
