
<ion-content>
<div class="fixed" style="position: fixed; width: 100%; z-index: 1;">
  <div class="head">
    <ion-buttons slot="start" color="light">
        <ion-back-button defaultHref="accueil" color="light" routerLink="/tabs"></ion-back-button>&nbsp;
    </ion-buttons>
    <span> Demandes accepter</span>
  </div>
  <div style="padding: 20px; background-color: #fff; margin-top: -30px; border-top-left-radius: 40px; border-top-right-radius: 40px;"></div>
</div>

<div class="card">
  <ion-card  *ngFor="let item of Liste">
    <ion-card-header>
      <ion-card-title>
        <h2 class="ion-text-center" style="color: #0F8EB4;">
          <b>{{item.envoyeur.prenom}}  {{item.envoyeur.nom}}</b>
        </h2>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3><strong>Profile: </strong> <span style="color: orange;">{{item.envoyeur.profile}}</span></h3>
      <h3><strong>Matirere: </strong> {{item.matiere}}</h3>
        <h3>
          <strong class="ion-text-wrap">Accepter le:</strong>  {{item.acceptDate | date : short}} à {{item.acceptHeure}}
        </h3>
    </ion-card-content>
  </ion-card>
</div>

  
  <!-- <div class="vide" *ngIf="Liste === ''" style="color: white;">
    <img src="../../../assets/images/vide.png" alt="">
    <p class="ion-text-center">Pas de demande Initier</p>
   </div> -->
</ion-content>
