<ion-content>

    <div class="head">
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="accueil" color="light" routerLink="/tabs"></ion-back-button>&nbsp;
        </ion-buttons>
        <span> Demandes accepter</span>
    </div>

    <ion-list>
        <div *ngFor="let item of Liste">
            <ion-item lines="none">
                <ion-label>
                    <h2 class="ion-text-center"><b>{{item.envoyeur.prenom}}  {{item.envoyeur.nom}}</b></h2>
                    <h3><strong>Matirere: </strong> {{item.matiere}}</h3>
                    <h3><strong class="ion-text-wrap">Accepter le:</strong> {{item.acceptDate | date : short}} à {{item.acceptHeure}}</h3>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    <div class="vide" *ngIf="Liste === ''" style="color: white;">
        <img src="../../../assets/images/vide.png" alt="">
        <p class="ion-text-center">Pas de demande Initier</p>
    </div>
</ion-content>