ion-content {
    // width: calc(100% + 15px);
    //--background: rgb(255, 166, 0);
    .head {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 30px;
        background-color: #0F8EB4;
        span {
            font-weight: 600;
            color: #fff;
            justify-content: center;
        }
    }
    .card{ 
        margin-top: 100px;
    }
        
    
}