.head {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #0F8EB4;
    span {
        font-weight: 600;
        color: #fff;
        justify-content: center;
    }
}

ion-input {
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    padding: 14px 18px;
    margin: 13px 8px;
}
