

<ion-content>
  <div class="content">
    <div class="logo ion-text-center">
      <img src="assets/images/logo.png" alt="" srcset="">
      
    </div>
  </div>

  <form action="">
    <div class="formulaire">
      <ion-input placeholder="Pseudo ou numero de tel " ></ion-input><br>
      <ion-input placeholder="mot de passe " ></ion-input>
    </div>
    <div class="lien">
      <a href="" class="pass">mot de passe oublie!</a>
    </div>
    <div class="submit">
      <ion-button class="btn" expand='full' fill="clear" style="text-transform: none;">
        Connexion
      </ion-button>
    </div>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-checkbox checked ></ion-checkbox>
      </ion-col>
      <ion-col size="6">
        <ion-label class="label">Garder ma session</ion-label> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="register">S'inscrire</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
