ion-content {
    --background: #0f8eb4;
    .float {
        img {
            height: 130px;
            float: right;
            margin-right: -60px;
            margin-bottom: 0px;
        }
    }
    .content {
        background: orange;
        border-bottom-right-radius: 50%;
        box-shadow: 1px 0px 2px 3px #3333;
        padding-bottom: 100px;
        
        img {
            height: 140px;
            margin-top: 50px;
            margin-left: 65px;
            margin-right: 65px;
        }
    }
    
}

form {
    .formulaire {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        ion-item {
            margin-bottom: 8px;
            font-family: 'Nunito, sans-serif';
            background-color: #fff;
            font-size: small;
            border-radius: 50px;
            box-shadow: 1px 0px 2px 3px #3333;
            ion-input {
                padding-left: 10px !important;
            }
        }
    }
    .pass {
        font-size: 12px;
        margin-top: 5px;
        display: block;
        margin-right: 20px;
        text-align: right;
        color: white;
    }
}

.submit ion-button {
    background-color: white;
    color: #0f8eb4;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 12px;
    border-radius: 15px;
    box-shadow: 1px 0px 2px 3px #3333;
}

.label {
    font-size: 12px;
    margin-bottom: 3px;
    ion-checkbox {
        size: 13px;
    }
}