<ion-content>
    <div class="head">
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="list-tuteur" color="light" routerLink="/tabs/accueil"></ion-back-button>&nbsp;
        </ion-buttons>
        <span>list-tuteur</span>
    </div>
    <div style="padding: 20px; background-color: #fff; margin-top: -30px; border-top-left-radius: 40px; border-top-right-radius: 40px;"></div>

    <ion-grid class="ion-margin-top">
        <ion-item lines="none" color="light" class="test">
            <ion-label class="title">Tuteur de mathématique</ion-label>
            <ion-button size="small" shape="round" color="primary" routerLink="/voir-plus/{{data[0]?.addresse}}">Voir plus</ion-button>
        </ion-item>
        <ion-row>
            <ion-slides [options]="{ slidesPerView: '1.6', zoom: false, grabCursor: true }">
                <ion-slide>
                    <ion-card style="width: 160px; height: 150px;">
                        <ion-card-header class="ion-no-padding">
                            <img src="../../../assets/images/classe1.jpg" />
                        </ion-card-header>
                        <ion-card-content style="padding: 0%;">

                            <ion-label style="margin-left: 1px;">
                                Nom
                            </ion-label>

                            <p>
                                <ion-text color="tertiary">
                                    <ion-icon name="location"></ion-icon>Quartier</ion-text>
                            </p>
                            <ion-text class="price" color="primary"><b>Niveau</b></ion-text>

                        </ion-card-content>
                    </ion-card>
                </ion-slide>

                <ion-slide>
                    <ion-card style="width: 160px; height: 150px;">
                        <ion-card-header class="ion-no-padding">
                            <img src="../../../assets/images/afrique.jpg" />
                        </ion-card-header>
                        <ion-card-content style="padding: 0%;">

                            <ion-label style="margin-left: 1px;">
                                Nom
                            </ion-label>

                            <p>
                                <ion-text color="tertiary">
                                    <ion-icon name="location"></ion-icon>Quartier</ion-text>
                            </p>
                            <ion-text class="price" color="primary"><b>Niveau</b></ion-text>

                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>

        </ion-row>
    </ion-grid>

    <ion-grid class="ion-margin-top">
        <ion-item lines="none" color="light" class="test">
            <ion-label class="title">Tuteur de Biologie</ion-label>
            <ion-button size="small" shape="round" color="primary">Voir plus</ion-button>
        </ion-item>
        <ion-row>
            <ion-slides [options]="{ slidesPerView: '1.6', zoom: false, grabCursor: true }">
                <ion-slide>
                    <ion-card style="width: 160px; height: 150px;">
                        <ion-card-header class="ion-no-padding">
                            <img src="../../../assets/images/book.jpg" />
                        </ion-card-header>
                        <ion-card-content style="padding: 0%;">

                            <ion-label style="margin-left: 1px;">
                                Nom
                            </ion-label>

                            <p>
                                <ion-text color="tertiary">
                                    <ion-icon name="location"></ion-icon>Quartier</ion-text>
                            </p>
                            <ion-text class="price" color="primary"><b>Niveau</b></ion-text>

                        </ion-card-content>
                    </ion-card>
                </ion-slide>

                <ion-slide>
                    <ion-card style="width: 160px; height: 150px;">
                        <ion-card-header class="ion-no-padding">
                            <img src="../../../assets/images/apprendre.jpg" />
                        </ion-card-header>
                        <ion-card-content style="padding: 0%;">

                            <ion-label style="margin-left: 1px;">
                                Nom
                            </ion-label>

                            <p>
                                <ion-text color="tertiary">
                                    <ion-icon name="location"></ion-icon>Quartier</ion-text>
                            </p>
                            <ion-text class="price" color="primary"><b>Niveau</b></ion-text>

                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-row>
    </ion-grid>
</ion-content>
