

<ion-content>
  <ion-buttons slot="start" >
    <ion-back-button defaultHref="accueil" color="dark" routerLink="/edit-profile"></ion-back-button>&nbsp;
  </ion-buttons>

  <p class="ion-text-center"><strong>Modification de votre mot de passe</strong></p>
  <form >
    <ion-input type="password" placeholder="Ancien mot de passe"></ion-input>
    <ion-input type="password" placeholder="Nouveau mot de passe"></ion-input>
    <ion-input type="password" placeholder="Confirmer nouveau mot de passe"></ion-input>
    <div class="ion-text-center">
      <ion-button >Valider</ion-button>
    </div>
    
  </form>

</ion-content>
